*.json
*.db
.devcontainer
.vscode
__pycache__
openapi/src
*.swp
logs/
tmp/
.*
cs-assemblypartrelationship-data/
*.log
venv/
tmp*.txt
tmp*.json
*_internal.*
*.pem
*.key
*.deb
urns.txt
notes*.md
log.log*
docker-compose*.yaml
*.csv
